/* Colours */
/* #ECA802 yellow
#00AB54 field green
#B0413E reddish-pink
#548687 blue
#FFFFC7 off white
#473335 dark purple */

/* INSTRUCTIONS STYLES */

/* all content within wrapper */
.wrapper {
  background-color: white;
  margin: 0 10%;
  border-radius: 5px;
}

.mainContent h1 {
  font-family: "Dog Font";
  font-size: 70px;
  margin: 2% 0;
}
