/* hiding the nav styles for the homepage */

/* nav styles */
li,
a {
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10%;
  /* the extra two numbers are transparency to hex codes - I guess it's 80%  */
  background-color: #00ab5480;
  border-radius: 5px;
}
.logo {
  cursor: pointer;
  width: 80px;
  height: auto;
  transition: transform 0.8s;
}
.logo:hover {
  transform: rotate(-10deg);
}
.nav-links {
  list-style: none;
}
.nav-links li {
  display: inline-block;
  padding: 0 20px;
}
.nav-links li a {
  transition: all 0.3s ease 0s;
}
.nav-links li a:hover {
  color: #b0413e;
}

/* MOBILE STYLES */
/* burger menu */
.topnav {
  overflow: hidden;
  background-color: #333;
  position: relative;
  border-radius: 5px;
}
.topnav #myLinks {
  display: none;
}
.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}
.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
.active {
  background-color: #4caf50;
  color: white;
}
