/* MEDIA QUERIES */
@media screen and (max-width: 1400px) {
  /* Dug background */
  .title-background {
    background-size: 600px;
  }
  /* h1 Dug */
  .h1-dug {
    font-size: 90px;
  }
  /* header text */
  .main-content h1 {
    font-size: 50px;
    letter-spacing: 1px;
    line-height: 4rem;
    padding: 7% 0;
  }
  /* play button */
  .play-button {
    margin: 1.5%;
    padding: 2% 2.5%;
  }
  .play-button a {
    font-size: 45px;
    letter-spacing: 1px;
  }
}

@media screen and (max-width: 960px) {
  /* Dug background */
  .title-background {
    background-size: 500px;
  }
  /* h1 Dug */
  .h1-dug {
    font-size: 80px;
  }
  /* header text */
  .main-content h1 {
    font-size: 45px;
    letter-spacing: 1px;
    line-height: 4rem;
    padding: 7% 0;
  }
  /* play button */
  .play-button {
    margin: 2.5%;
    padding: 2% 2.5%;
  }
  .play-button a {
    font-size: 40px;
    letter-spacing: 1px;
  }
}

@media screen and (max-width: 700px) {
  /* Dug background */
  .title-background {
    background-size: 400px;
  }
  /* h1 Dug */
  .h1-dug {
    font-size: 75px;
  }
  /* header text */
  .main-content h1 {
    font-size: 40px;
    letter-spacing: 1px;
    line-height: 3.5rem;
    padding: 7% 0;
  }
  /* play button */
  .play-button {
    margin: 2.5%;
    padding: 2% 2.5%;
  }
  .play-button a {
    font-size: 35px;
    letter-spacing: 1px;
  }
}

@media screen and (max-width: 560px) {
  /* Dug background */
  .title-background {
    background-size: 350px;
  }
  /* h1 Dug */
  .h1-dug {
    font-size: 65px;
  }
  /* header text */
  .main-content h1 {
    font-size: 35px;
    letter-spacing: 1px;
    line-height: 3.5rem;
    padding: 7% 0;
  }
  /* play button */
  .play-button {
    margin: 2.5%;
    padding: 2% 3%;
  }
  .play-button a {
    font-size: 30px;
    letter-spacing: 1px;
  }
}

/* MEDIA QUERIES */
@media screen and (max-width: 1400px) {
  /* NAV styles */
  header {
    padding: 7px 9%;
  }
  .logo img {
    width: 75px;
  }
  .nav a {
    padding: 13px 13px;
    font-size: 15px;
  }

  .scores-text h1 {
    font-size: 40px;

    margin: 2.5%;
  }
  .scores-table table {
    margin: 2%;
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 30px;
  }
  table th {
    font-size: 40px;
    padding: 4.5%;
    margin-bottom: 2%;
  }
  .add-score,
  .remove-score {
    font-size: 25px;

    padding: 1% 1.5%;
    margin-bottom: 4.5%;
  }
  footer {
    font-size: 10px;
    line-height: 15px;
  }
}

@media screen and (max-width: 960px) {
  /* NAV styles */

  .logo img {
    width: 65px;
  }
  .nav a {
    font-size: 13px;
    padding: 11px 11px;
  }
  .scores-text h1 {
    font-size: 38px;
    margin: 2.2%;
  }
  .scores-table table {
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 30px;
    margin: 2%;
  }
  table th {
    font-size: 40px;
    padding: 4.5%;
    margin-bottom: 2%;
  }
  .add-score,
  .remove-score {
    font-size: 25px;

    padding: 1% 1.5%;
    margin-bottom: 4.5%;
  }
  footer {
    font-size: 10px;
    line-height: 15px;
  }
}

@media screen and (max-width: 700px) {
  /* NAV styles */
  header {
    max-width: 480px;
    margin: auto;
    background-color: #555;
    height: 500px;
    color: white;
    border-radius: 10px;
  }
  .topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
    border-radius: 5px;
  }
  .topnav #myLinks {
    display: none;
  }
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  .topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  .active {
    background-color: #4caf50;
    color: white;
  }
  .logo img {
    width: 65px;
  }
  .nav a {
    font-size: 13px;
    padding: 11px 11px;
  }
  .scores-text h1 {
    font-size: 38px;
    margin: 2.2%;
  }
  .scores-table table {
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 30px;
    margin: 2%;
  }
  table th {
    font-size: 40px;
    padding: 4.5%;
    margin-bottom: 2%;
  }
  .add-score,
  .remove-score {
    font-size: 25px;

    padding: 1% 1.5%;
    margin-bottom: 4.5%;
  }
  footer {
    font-size: 10px;
    line-height: 15px;
  }
}

@media screen and (max-width: 560px) {
}
