/* Colours */
/* #ECA802 yellow
#00AB54 field green
#B0413E reddish-pink
#548687 blue
#FFFFC7 off white
#473335 dark purple */

/* Fonts */

@font-face {
  font-family: "Dog Font";
  src: url("../fonts/GOODDC_.ttf");
}
@font-face {
  font-family: "Standing Dog Font";
  src: url("../fonts/KsPuppyPartyRegular-11n0.ttf");
}
@font-face {
  font-family: "Written Style Font";
  src: url("../fonts/PuppyBellies.ttf");
}
@font-face {
  font-family: "Bone Font";
  src: url("../fonts/Bones2.ttf");
}

/* ALL PAGE STYLES */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #eca802;
  font-family: "Open Sans", sans-serif;
  text-align: center;
}

/* INDEX STYLES */

/* all content within wrapper */
.wrapper {
  /* this border is for the header instead of the nav bar */
  /* border-top: 45px solid #7dcd90; */
  /* rgb to get the white background a little transparent */
  background: rgb(255, 255, 255, 0.8);
  margin: 3% 10%;
  border-radius: 5px;
}

.title-background {
  background: url("../img/dug.png") no-repeat;
  background-position: center;
  background-size: 700px;
}
.h1-dug {
  font-family: "Dog Font";
  font-size: 100px;
  text-transform: uppercase;
}
.main-content h1 {
  font-family: "Written Style Font";
  font-size: 55px;
  letter-spacing: 1px;
  line-height: 5rem;
  padding: 8% 0;
  background-color: rgb(255, 255, 255, 0.5);
  border-radius: 5px;
}

/* homepage play button styles */

.play-button {
  cursor: pointer;
  border-radius: 10px;
  background-color: #7dcd90;
  border: none;

  margin: 1.5%;
  padding: 2% 2.5%;

  transition: transform 0.8s;
}
.play-button:hover {
  transform: rotate(3deg);
  background-color: #eca802;
}
.play-button a {
  font-family: "Written Style Font";
  font-size: 50px;
  color: black;
  letter-spacing: 1.5px;
  text-decoration: none;
}

/* footer styles */
footer {
  background-color: #00ab5480;
  border-radius: 5px;
  padding: 1% 0;

  font-size: 15px;
  letter-spacing: 1px;
  line-height: 20px;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1400px) {
  /* Dug background */
  .title-background {
    background-size: 600px;
  }
  /* h1 Dug */
  .h1-dug {
    font-size: 90px;
  }
  /* header text */
  .main-content h1 {
    font-size: 50px;
    letter-spacing: 1px;
    line-height: 4rem;
    padding: 7% 0;
  }
  /* play button */
  .play-button {
    margin: 1.5%;
    padding: 2% 2.5%;
  }
  .play-button a {
    font-size: 45px;
    letter-spacing: 1px;
  }
}

@media screen and (max-width: 960px) {
  /* Dug background */
  .title-background {
    background-size: 500px;
  }
  /* h1 Dug */
  .h1-dug {
    font-size: 80px;
  }
  /* header text */
  .main-content h1 {
    font-size: 45px;
    letter-spacing: 1px;
    line-height: 4rem;
    padding: 7% 0;
  }
  /* play button */
  .play-button {
    margin: 2.5%;
    padding: 2% 2.5%;
  }
  .play-button a {
    font-size: 40px;
    letter-spacing: 1px;
  }
}

@media screen and (max-width: 700px) {
  /* Dug background */
  .title-background {
    background-size: 400px;
  }
  /* h1 Dug */
  .h1-dug {
    font-size: 75px;
  }
  /* header text */
  .main-content h1 {
    font-size: 40px;
    letter-spacing: 1px;
    line-height: 3.5rem;
    padding: 7% 0;
  }
  /* play button */
  .play-button {
    margin: 2.5%;
    padding: 2% 2.5%;
  }
  .play-button a {
    font-size: 35px;
    letter-spacing: 1px;
  }
}

@media screen and (max-width: 560px) {
  /* Dug background */
  .title-background {
    background-size: 350px;
  }
  /* h1 Dug */
  .h1-dug {
    font-size: 65px;
  }
  /* header text */
  .main-content h1 {
    font-size: 35px;
    letter-spacing: 1px;
    line-height: 3.5rem;
    padding: 7% 0;
  }
  /* play button */
  .play-button {
    margin: 2.5%;
    padding: 2% 3%;
  }
  .play-button a {
    font-size: 30px;
    letter-spacing: 1px;
  }
}
